* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(233, 47%, 7%);

}

.primeira-parte ul {
    list-style: none;
}

span {color: hsl(277, 64%, 61%); }

.main-heading,
.stat {
    color: hsl(0, 0%, 100%);
    margin: 10px 0;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.main-paragraph {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    margin: 10px 0;
    font-weight: 400;
    font-size: 15px;
}

.stat-heading {
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

li.stat {
    display: inline-block;
    margin-right: 20px;
}

.card-principal {
    margin: 100 auto;
    width: 1440px;
    height: 40%;
    border-radius: 105px;
}
.card-principal .primeira-parte {
    background-color: hsl(244, 38%, 16%);
    width: 715px;
    margin: 0 auto;
    display: inline-block;
    height: 40% ;
  }

.card-principal .segunda-parte {
    background-color: hsl(277, 64%, 61%);
    width:  715px;
    display: inline-block;
  
    margin: 0 auto;
}

.img {opacity: 0.2;

}

